.faculdade_curso {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
    flex: 1;
}

.faculdade_curso::before {
        content: "";
        display: block;
        width: 4px;
        height: 20px;
        background: linear-gradient(#b6f829, #67dd0a);
        position: absolute;
        left: -24px;
    }
