.banner_title {
    font-size: 4.5rem;
    line-height: 1.125;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}

.banner_title::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../../img/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}


@media (max-width: 1000px) { /* Quando chegar em 1000px */
    .banner_title {
        font-size: 3rem;
    }
}

@media (max-width: 800px) { /* Quando chegar em 800px */
    .banner_title {
        font-size: 2rem;
    }

    .banner_title::before {
        width: 30px;
        height: 10px;
        left: 0px;

    }
}

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7353.535493431572!2d-43.3512144!3d-22.8480807!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x996346e4995baf%3A0xfbdd0f2635bc2b6!2sDrogaria%20%C3%94nix%20-%20Rocha%20Miranda!5e0!3m2!1spt-BR!2sbr!4v1664403380985!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>