.cursos_title {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.cursos_title::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../img/cursos.svg) no-repeat center center;
    position: absolute;
    left: -36px;
    top: -4px;
}
@media (max-width: 800px) {
    .cursos_title::before {
        position: initial;
        margin-bottom: 10px;
    }
}